@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .intense-noise {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Crect width='50' height='50' fill='%23fff'/%3E%3Crect width='1' height='1' fill='%23000'/%3E%3Crect width='1' height='1' fill='%23000' x='10' y='10'/%3E%3Crect width='1' height='1' fill='%23000' x='20' y='20'/%3E%3Crect width='1' height='1' fill='%23000' x='30' y='30'/%3E%3Crect width='1' height='1' fill='%23000' x='40' y='40'/%3E%3C/svg%3E");
    background-size: 50px 50px;
    opacity: 0.5;
  }
}

.background_content {
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  max-width: 640px;
  background-image: conic-gradient(
    from 0deg at 50% 50%, 
    #F262B5 0% 35%, 
    #5FC5FF 35% 54%, 
    #FFAC89 54% 60%, 
    #8155FF 60% 66%, 
    #789DFF 66% 72%, 
    #9F73F1 72% 86%, 
    transparent 86% 100%
  );
  position: fixed;
  content: "";
  width: 100%;
  height: 80%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: .15;
}

.py-3px {
  padding-top: 0.1875rem; 
  padding-bottom: 0.1875rem; 
}