@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .intense-noise {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Crect width='50' height='50' fill='%23fff'/%3E%3Crect width='1' height='1' fill='%23000'/%3E%3Crect width='1' height='1' fill='%23000' x='10' y='10'/%3E%3Crect width='1' height='1' fill='%23000' x='20' y='20'/%3E%3Crect width='1' height='1' fill='%23000' x='30' y='30'/%3E%3Crect width='1' height='1' fill='%23000' x='40' y='40'/%3E%3C/svg%3E");
    background-size: 50px 50px;
    opacity: 0.5;
  }
}

.background_content {
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  max-width: 640px;
  background-image: conic-gradient(
    from 0deg at 50% 50%, 
    #F262B5 0% 35%, 
    #5FC5FF 35% 54%, 
    #FFAC89 54% 60%, 
    #8155FF 60% 66%, 
    #789DFF 66% 72%, 
    #9F73F1 72% 86%, 
    transparent 86% 100%
  );
  position: fixed;
  content: "";
  width: 100%;
  height: 80%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: .15;
}

.py-3px {
  padding-top: 0.1875rem; 
  padding-bottom: 0.1875rem; 
}

.md-editor.wmde-markdown-var {
  border-radius: 8px !important; 
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  background-color: white !important;
  
}

.md-editor-toolbar-warp:not(.md-editor-toolbar-bottom) {
  border-bottom: 0px !important;
}

.cm-gutters {
  border-right: 0px !important;
 
}

.cm-scroller{
  font-family: inter !important;
  line-height: 1.75rem !important;
  background-color: white !important;
}

.md-editor-toolbar button {
  height: 24px !important;
    width: 24px !important;
}

.md-editor-content-editor.cm-theme.md-editor-inner.cm-editor {
  background-color: white !important;
}

.cm-activeLine  {
  background-color: rgb(248 250 252) !important;
}

.cm-gutters {
  background-color: rgb(248 250 252) !important;
}

.focus\:ring-cyan-300:focus{
  --tw-ring-color: #00000000 !important;
}

@media (min-width: 1536px) {
  .module-large-py {
    padding-top: 5rem; 
    padding-bottom: 5rem;
  }
}



.text-cyan-600 {
  --tw-text-opacity: 1;
  color: rgb(0 0 0);
  border-radius: 0.5em;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: white;
  border-width: 1px;
}

.hover\:text-gray-600:hover {
  border-radius: 0.75em;
}

.rounded-t-lg {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 2.25rem;
}

.gradient-outline {
  position: relative;
}

.gradient-outline::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border-radius: 1.5rem;
  background: linear-gradient(181deg, #dde8ff, #c6d7fc, #ffffff);
  z-index: -1;
  border-width:1px;
}