@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .intense-noise {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Crect width='50' height='50' fill='%23fff'/%3E%3Crect width='1' height='1' fill='%23000'/%3E%3Crect width='1' height='1' fill='%23000' x='10' y='10'/%3E%3Crect width='1' height='1' fill='%23000' x='20' y='20'/%3E%3Crect width='1' height='1' fill='%23000' x='30' y='30'/%3E%3Crect width='1' height='1' fill='%23000' x='40' y='40'/%3E%3C/svg%3E");
    background-size: 50px 50px;
    opacity: 0.5;
  }
}

.background_content {
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
  max-width: 640px;
  background-image: conic-gradient(
    from 66deg at 50% 50%, 
    #ffd0eb 0% 35%, 
    #5fc1ff 35% 54%, 
    #e2f7ff 54% 60%, 
    #56b8ff 60% 66%, 
    #789DFF 66% 72%, 
    #739af1 72% 86%, 
    #becfff 86% 100%
);
  position: fixed;
  content: "";
  width: 100%;
  height: 80%;
  filter: blur(100px) saturate(150%);
  top: 280px;
  opacity: .15;
}

.py-3px {
  padding-top: 0.1875rem; 
  padding-bottom: 0.1875rem; 
}

.wmde-markdown {
 color: black !important;
 font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875' !important;
}
.md-editor.wmde-markdown-var {
  border-radius: 8px !important; 
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  background-color: white !important;
  
}

.md-editor-toolbar-warp:not(.md-editor-toolbar-bottom) {
  border-bottom: 0px !important;
}

.cm-gutters {
  border-right: 0px !important;
 
}

.cm-scroller{
  font-family: inter !important;
  line-height: 1.75rem !important;
  background-color: white !important;
}

.md-editor-toolbar button {
  height: 24px !important;
    width: 24px !important;
}

.md-editor-content-editor.cm-theme.md-editor-inner.cm-editor {
  background-color: white !important;
}

.cm-activeLine  {
  background-color: rgb(248 250 252) !important;
}

.cm-gutters {
  background-color: rgb(248 250 252) !important;
}

.focus\:ring-cyan-300:focus{
  --tw-ring-color: #00000000 !important;
}

@media (min-width: 1536px) {
  .module-large-py {
    padding-top: 5rem; 
    padding-bottom: 5rem;
  }
}



.text-cyan-600 {
  --tw-text-opacity: 1;
  color: rgb(0 0 0) !important;
  border-radius: 0.5em;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-color: white;
}

.hover\:text-gray-600:hover {
  border-radius: 0.75em;
}

.rounded-t-lg {
  color: rgb(0 0 0) !important;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 2.25rem;
}

.gradient-outline {
  position: relative;
}

.gradient-outline::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  border-radius: 1.5rem;
  background: linear-gradient(181deg, #dde8ff57, #c6d7fcad, #ffffff);
  z-index: -1;
  border-width: 1px;
  transition: box-shadow 0.3s ease; /* 添加过渡效果 */
}

.gradient-outline:hover::before {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
              var(--tw-ring-shadow, 0 0 #0000), 
              var(--tw-shadow);
}



.gradient-outline-sm {
  position: relative;
}

.gradient-outline-sm::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 0.75rem;
  background: linear-gradient(181deg, #dde8ff57, #c6d7fcad, #ffffff);
  z-index: -1;
  border-width: 1px;
  transition: box-shadow 0.3s ease; /* 添加过渡效果 */
}

.gradient-outline-sm:hover::before {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), 
              var(--tw-ring-shadow, 0 0 #0000), 
              var(--tw-shadow);
}